/* global styling */

body {
    background-color: rgb(179, 178, 178);
}

/* hero */ 

.hero-image {
    background-image: linear-gradient(0,0,0,0,5), rgba(0,0,0.5), url(./assets/tahoe.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 500px;
    opacity: 0.90;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}

.hero-text {
    text-align: center;
    border-top: 50px;
    font-size: 75px;
    color: white;
    text-shadow: 5px 5px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* shredders section */

.shredders {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.shred-img {
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.names {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px rgb(150, 150, 150);
}

.shred-section {
    text-align: center;
    margin-top: 20px;
}

.logo {
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.squad-pic {
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#omar {
    height: 300px;
}

#rei {
    height: 280px;
}

.resort-container {
    background-color: rgb(29, 29, 126);
}

/* videos page*/

.hero2 {
    background-image: linear-gradient(0,0,0,0,5), rgba(0,0,0.5), url(/assets/basin.jpg);
    height: 100%;
    background-position: center;
    position: relative;
    padding-bottom: 250px;
    opacity: 0.90;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px; 
} 

.vids {
    display: flex;
   flex-wrap: wrap;
}

/* media query */

@media screen and (max-width: 600px) {
    section {
     overflow: auto;
    }
    


    .shredders {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .hero-image {
        width: fit-content;
        height: fit-content;
    }

    .shred-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}